{master, [
	{concurix_server, "localhost:8001"},
	{user, "alex@concurix.com"},
	{project, "mandelbrot"},
	{api_key, "abcdefg"}]}.
{run, [
	{sleep, 50},
	{trace_on, [call, return]},
	{sleep, 10},
	{trace_off, [call_return]},
	{sleep, 10},
	{trace_on, [call_return]},
	{sleep, 10},
	{trace_off, [call_return]}
]}.