{master, [
	{concurix_server, "localhost:8001"},
	{user, "alex@concurix.com"},
	{project, "mandelbrot"},
	{api_key, "abcdefg"}]}.
{spawn, [
	{{spawn_test, mfaspawn}, "round(arg(1) * 10)"},
	{{spawn_test, mfaspawnlink}, "round(arg(1) * 11)"},
	{{spawn_test, mfaspawnmonitor}, "round(arg(1) * 12)"},
	{{spawn_test, mfaspawnopt}, "round(arg(1) * 13)"}
	]
}.
{memoization, [
	{{mandelbrot, row}, local}
]}.
