{master,[
    {concurix_server,"concurix.com"},
    {api_key, "0b6a6a0976288d1d399a222d89bd980f"},

    %% the keys of runinfo will be merged to the run_info we obtain from the
    %% server. If the key is not present here, the value retrieved from the web
    %% will be used, otherwise the value in the following section.
    {run_info, [
        {trace_url, <<"http://results.concurix.com:9090/results">>}
    ]},

    %% Optionally the function which retrieves the current trace data
    %% can be specified here. If not set the default old function will be used.
    {trace_mf, {concurix_lib, get_json_for_proxy}},

    %% When set to true processes belonging to the same module will be displayed
    %% in in several smaller rectangles instead of one big as the pid will
    %% be included in the name. Defaults to false.
    {display_pid, false},

    %% Updates will be sent to the concurix servers with this freuqency.
    %% Measured in milisecs.
    {timer_interval_viz, 5000},

    %% Used on train. Default value is false.
    {disable_posts, true}
]}.
