{sub_dirs, ["src/apps/concurix_trace"]}.
{lib_dirs, ["src/apps/concurix_trace/ebin"]}.
{app_bin, ["src/apps/concurix_trace/ebin"]}.
{deps, [
	{purity, ".*", {git, "git://github.com/Concurix/purity.git"}},
	{erlcloud, ".*", {git, "https://github.com/Concurix/erlcloud.git"}},
	{'cowboy', ".*", {git, "git://github.com/extend/cowboy.git"}
    }
   ]}.
