{sub_dirs, ["src/apps/concurix_trace"]}.
{erl_opts, [{i, "src/apps/concurix_trace/ebin"}]}.
{lib_dirs, ["src/apps/concurix_trace/ebin"]}.
{app_bin,  ["src/apps/concurix_trace/ebin"]}.
{deps,     [
            {erlcloud, ".*", {git, "https://github.com/Concurix/erlcloud.git"}},
            {cowboy,   ".*", {git, "https://github.com/Concurix/cowboy.git"}},
            {gproc,    ".*", {git, "git://github.com/esl/gproc.git",                {tag, "0.2.15"}}},
            {mochiweb, ".*", {git, "git://github.com/mochi/mochiweb.git",           {tag, "v2.3.0"}}}
           ]}.
