{sub_dirs, ["src/apps/concurix_trace"]}.
{erl_opts, [{i, "src/apps/concurix_trace/ebin"}]}.
{lib_dirs, ["src/apps/concurix_trace/ebin"]}.
{app_bin,  ["src/apps/concurix_trace/ebin"]}.
{deps,     [
            {gproc,    ".*", {git, "git://github.com/esl/gproc.git",                {tag, "0.2.15"}}}
           ]}.
